In [1]:
#introduction to list dattype;

In [7]:
Students=['madhavi','aruna','rohini','nagamani','dhana','jyothi']

In [8]:
print(Students)

['madhavi', 'aruna', 'rohini', 'nagamani', 'dhana', 'jyothi']

In [9]:
type(Students)

list

In [10]:
print(Students[2])#index number

rohini

In [11]:
print(Students[1:4])# here we use slicing operator

['aruna', 'rohini', 'nagamani']

In [12]:
#add new name to the list

In [13]:
Students.append("Ramya")#we use append method means add an element at the end of the list

In [14]:
print(Students)

['madhavi', 'aruna', 'rohini', 'nagamani', 'dhana', 'jyothi', 'Ramya']

In [15]:
Students.append('susi')

In [16]:
print(Students)

['madhavi', 'aruna', 'rohini', 'nagamani', 'dhana', 'jyothi', 'Ramya', 'susi']

In [17]:
#i want to add suma in the 4th position

In [22]:
Students.insert(4,'suma')
                #insert method used for we can add an element anywhere

In [23]:
print(Students)

['madhavi', 'aruna', 'rohini', 'nagamani', 'suma', 'suma', 'dhana', 'jyothi', 'Ramya', 'susi']

In [24]:
print(Students[4])

suma

#modify an element into the list

In [25]:
Students[2]="Rohan"

In [26]:
print(Students)

['madhavi', 'aruna', 'Rohan', 'nagamani', 'suma', 'suma', 'dhana', 'jyothi', 'Ramya', 'susi']

In [27]:
#delete an element

In [28]:
del Students[6]

In [29]:
print(Students)

['madhavi', 'aruna', 'Rohan', 'nagamani', 'suma', 'suma', 'jyothi', 'Ramya', 'susi']